{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} BGA Flights Downloader {% endblock %}</h1>
    <p> Should download every flight on the BGA Ladder with you as the pilot between the date range. Could take as much as 5 mins to download, so sit tight and enjoy :)</p>

    <form action="/data" method = "POST">
    <!-- <p>Pilot ID <input type = "text" name = "pilot_id" /></p> -->
    <p>Pilot Name <select name = "pilot_id">
      {% for name in names %}
        <option value="{{ name['ID'] }}">{{ name['Name'] }}</option>
      {% endfor %}
    </select></p>
    <p>Start Year <input type="number" min="2007" max="2022" step="1" value="2007" name = "start_year" /></p>
    <p>End Year <input type="number" min="2007" max="2022" step="1" value="2022" name = "end_year" /></p>
    <p><input type = "submit" value = "Download" /></p>
    </form>

{% endblock %}
